body {
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: center;
}

.addtion {

    height: calc(100vh);
    display: flex;
    align-items: center;

}

form>label {
    text-align: center;
    display: inline-block;
    background-color: rgb(255, 235, 169);
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.2em;
    width: 40px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

#carb {
    background-color: transparent;
}

input[type='text'] {
    text-align: center;
    width: 50px;
    padding: 8px 5px;
    margin: 10px;
    font-size: 2.5em;
}